@use 'base';

#container {
  width: 96%;
  margin: auto;
}

#title{
  width: 100%;
  font-size: 2em;
  text-align:center;
  margin-bottom: 1%;
}

#result {
  width: 100%;
  font-size: 1.3em;
  text-align:center;
  margin-bottom: 2vh;
}

#blurb{
  width: 100%;
  text-align:center;
  font-size: 0.8em;
  margin-bottom: 3%;
}

#partiesDivContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.6rem;
  justify-content: space-between;
}
  
/*View for tablet*/
@media only screen and (min-width: 479px) {

  #title{
    font-size: 4em;
    margin-bottom: 0.1%;
  }

  #result{
    font-size: 1.75em;
  }

  #blurb{
    font-size: 1em;
    margin-bottom: 1%;
  }

  #partiesDivContainer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

}

/*View for Desktop*/
@media only screen and (min-width: 1024px) {
  
  #blurb{
    font-size: 1em;
    margin-bottom: 1%;
  }


}